DATABASE_URL=postgresql://user:password@ep-xxx.neon.tech/neondb?sslmode=require
AUTH_SECRET=ganti-min-32-karakter-random-di-sini-123456
NEXT_PUBLIC_APP_URL=http://localhost:3000
# untuk seed di production sekali saja
ALLOW_SEED=1
